<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Lab_Ziks4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Lab_Ziks4.Properties.Settings>
            <setting name="Working_hours" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lokced1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lokced2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lokced3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lokced4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lokced11" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lokced12" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lokced13" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lokced14" serializeAs="String">
                <value>False</value>
            </setting>
        </Lab_Ziks4.Properties.Settings>
    </userSettings>
</configuration>